@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

.sendForm {
    font-family: Montserrat;
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
    padding: 20px 30px;
}

.textarea {
    width: 980px;
    height: 40px;
    top: 432px;
    left: 70px;
    gap: 0px;
    border-radius: 20px;
    background: #F5F7FB;
    resize: none;
    padding: 10px;
    text-align: left;
    border: none;
    box-shadow: 2px 2px 2px rgb(239, 239, 239);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.button {
    width: 120px;
    min-width: 80px;
    height: 40px;
    top: 432px;
    left: 1090px;
    border: none;
    border-radius: 20px;
    background: #0066CC;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    margin-left: 45px;
}

.button:hover {
    border: 2px solid #0066CC;
    background-color: #FFFFFF;
    color: #0066CC;
    cursor: pointer;
}

/* .button:active {

} */